node_modules
npm-debug.log
vendor
.env
.git
.gitignore
.gitattributes
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
# public/build is NOT ignored - we commit pre-built assets
# public/storage is a symlink, will be created by artisan storage:link
.phpunit.result.cache
